.topmenu {
	position: fixed;
	top: 0px;
	right: 0px;
	left:0px;
	height: 9%;
	background-color: #0000ff;
	padding-bottom: 4%;
}

.return {
	position: fixed;
	left: 4%;
	font-size: 400%;
	color:white;
	padding-top: 1%
}

.edit {
	position: fixed;
	right: 4%;
	font-size: 200%;
	color:white;
	padding-top: 5%

}
.contato {
	width:20%;
	padding-top:5em;
	padding-left:1em; 
}

.nome{
	font-size: 140%;
	padding-left: 0.5em

}